        <div class="span3">
          <div class="widget">
            <div class="widget-header">
              <i class="icon-signal"></i>
              <h3>Left</h3>
            </div>
            <div class="widget-content">
              bla
            </div>
          </div>

          <div class="widget">
            <div class="widget-header">
              <i class="icon-filter"></i>
              <h3>Left down</h3>
            </div>
            <div class="widget-content">
              bla
            </div>
          </div>

          <div class="widget">
            <div class="widget-header">
              <i class="icon-thumbs-up"></i>
              <i class="icon-thumbs-down"></i>
              <h3>Feedback</h3>
            </div>
            <div class="widget-content" style="overflow: hidden">
              <form>
                <fieldset>
                  <div class="input-prepend">
                    <span class="add-on">@</span>
                    <input type="text" placeholder="E-mail (opcionalno)" />
                  </div>

                  <textarea class="span11" rows="4" placeholder="Feedback text"></textarea>
                  <button type="submit" class="btn"><i class="icon-envelope"></i> Submit</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

        <div class="span8">
          <div class="widget">
            <div class="widget-header">
              <i class="icon-shopping-cart"></i>
              <h3>Laptops</h3>
            </div>
            <div class="widget-content">

              <div class="media" style="border-bottom: 1px solid #E4E6EB;">
                <div class="pull-left" style="padding-right: 10px; border-right: 1px solid #E4E6EB;">
                  <img data-src="holder.js/160x120" alt="">
                  <h4>Thumbnail label</h4>
                  <p>Thumbnail caption...</p>
                </div>
                <div class="media-body">
                  <div class="prod-desc-wrapper">
                    <dl>
                      <dt>Opis:</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                          Donec id elit non mi porta gravida at eget metus.</dd>
                    </dl>
                    <div class="prod-desc-push"></div>
                  </div>
                  <dl class="prod-desc-footer">
                    <dt>Trgovine:</dt>
                    <dd>neka, druga, treca</dd>
                  </dl>
                </div>
              </div>

              <div class="media">
                <div class="pull-left" style="padding-right: 10px; border-right: 1px solid #E4E6EB;">
                  <img data-src="holder.js/160x120" alt="">
                  <h4>Thumbnail label</h4>
                  <p>Thumbnail caption...</p>
                </div>
                <div class="media-body">
                  <div class="prod-desc-wrapper">
                    <dl>
                      <dt>Opis:</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                          Donec id elit non mi porta gravida at eget metus.</dd>
                    </dl>
                    <div class="prod-desc-push"></div>
                  </div>
                  <dl class="prod-desc-footer">
                    <dt>Trgovine:</dt>
                    <dd>neka, druga, treca</dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="pagination pagination-centered">
              <ul>
                <li class="disabled"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="well span1">
          ads
        </div>

